<!-- Web App Name: Take The Survey
File Name: header.ejs;
Group Name: Team A+;
Date: November 10, 2022
Student Name      Student ID
Alex Tang         301238850
Eva Fan           301238820
Darshmeen Dhillon 300689994
Faiyaz Muhammad   301227442
Sheila Donnelly   822281549
Wilson Wu         3012453494 -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <img src="./content/images/Astar.png" alt="group logo" height="40" width="50">
    <a class="navbar-brand" href="/"><i class="fa-solid fa-lg"></i> TAKE THE SURVEY</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link <%= (page == 'home') ? 'active' : ''; %>" aria-current="page" href="/home"><i class="fa-solid fa-house-user"></i> Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link <%= (page == 'survey-list') ? 'active' : ''; %>" aria-current="page" href="/survey-list"><i class="fa-solid fa-table-list fa-lg"></i> Survey List</a>

          <li class="nav-item">
            <a class="nav-link <%= (page == 'login') ? 'active' : ''; %>" aria-current="page" href=""><i class="fa-solid fa-right-to-bracket"></i> Login</a>

            <li class="nav-item">
              <a class="nav-link <%= (page == 'logout') ? 'active' : ''; %>" aria-current="page" href=""><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

