<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>

            <form class="form" method="POST">
                <input type="hidden" name="id" value="<%= survey._id %>" >
                <div class="form-group">
                    <label for="nameTextField">Survey Name</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Survey Name"
                    name="surveyName" 
                    value="<%= survey.surveyName %>"
                    required>
                </div>
                <div class="form-group">
                    <label for="nameTextField">Survey Description</label>
                    <input type="text" class="form-control"
                    id="nameTextField"
                    placeholder="Enter the Survey Description"
                    name="surveyDescription" 
                    value="<%= survey.surveyDescription %>"
                    required>
                </div>

                

                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-edit"></i> Submit</button>
                
                    <a href="/survey-list" class="btn btn-warning">
                        <i class="fas fa-undo"></i> Cancel</a>

            </form>
            <Hr>
            <button class="btn btn-primary" onclick="myFunction()">
                <i class="fas fa-add"></i> Add survey content</button>
                <div id="myDIV">
                    <button class="btn btn-primary"><i class="fas fa-add"></i> Add text box</button>
                    <button class="btn btn-primary"><i class="fas fa-add"></i> Add radio button</button>
                    <button class="btn btn-primary"><i class="fas fa-add"></i> Add checkbox</button>
                  </div>
        </div>

    </div>
</div>