<div>
    <p>enter multiple choice questions.</p>
    <label><input type="radio" name="options" > option 1</label><br>
    <label><input type="radio" name="options" > option 2</label><br>
    <label><input type="radio" name="options" > option 3</label><br>
    <label><input type="radio" name="options" > option 4</label><br>
</div>