
<!----------all of thi is in a form-->
<form method="post">
    <div style="margin: 100px">
        <p>Enter multiple choice questions.</p>

        <!--question-->
        <label>Question <br>
            <input type="text" name="question"> </label>
        <br><br>

        <!------- four Radio Buttons with updating labels. -------->
        <table>
            <tr>
                <td>
                    <input type="text" id="option1" maxlength="15" placeholder="enter option 1" >
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="option2" maxlength="15" placeholder="enter option 2" >
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="option3" maxlength="15" placeholder="enter option 3" >
                </td>
            </tr>
            <tr>
                <td>
                    <input type="text" id="option4" maxlength="15" placeholder="enter option 4" >
                </td>
            </tr>
        </table>
    </div>

    <!------- edit and update button. -------->
    <div>
        <input type="button" value="Submit" id="submit">
        <input type="button" value="Cancel" id="cancel">
    </div>
</form>

