<div class="container">
    <h3>enter Short Answer Questions.</h3>

    <form>
        <input type="text" value="<%= shortSchema.question %>">

        <!------- edit and update button. -------->
        <div>
            <input type="button" value="Edit" id="editBtn">
            <input type="submit" value="Update" id="updateBtn">
        </div>
    </form>
</div>