<h1> <%= title %>  </h1>

Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae numquam cupiditate optio eos perspiciatis enim facilis aliquam reiciendis debitis. Officiis, aliquam. Voluptatibus magni necessitatibus quo quos officiis quod, magnam maiores.