<!-- Web App Name: Take The Survey
File Name: home.ejs;
Group Name: Team A+;
Date: November 10, 2022
Student Name  Student ID
Alex Tang      301238850
Eva Fan        301238820 -->

<section class="hero">
    <div class="hero-container">
        <div class="left">
         
            <!-- <p style="text-align: center; color:rgb(230, 18, 18);margin-top: 20px; font-weight: 600;" >Your Survey Matters! Take A Survey, Sharing Your Voices.<i class="fa-solid fa-circle-down"></i></p> -->
            <!-- <h1>Your Survey Matters!</h1> -->
            <p >Sharing Your Voices<i class="fa-solid fa-circle-down"></i></p>

          <h4 style="text-align: center;margin-left: 60px;" ><a class="nav-link <%= (page == 'survey-list') ? 'active' : ''; %>" aria-current="page" href="/survey-list"><i class="fa-solid fa-table-list fa-lg"></i> Survey List</a></h4>
      
        
          
        </div>
        <div class="right">
            <img src="./content/images/takesurvey.png" alt="survey logo" class="survey-image" >
        </div>
    </div>
</section>


