<!-- Web App Name: Take The Survey
File Name: home.ejs;
Group Name: Team A+;
Date: November 26, 2022
Student Name      Student ID
Alex Tang         301238850
Eva Fan           301238820
Darshmeen Dhillon 300689994
Faiyaz Muhammad   301227442
Sheila Donnelly   822281549
Wilson Wu         301243494 -->

<section class="hero">
    <div class="hero-container">
        <div class="left">
         
            <p >Sharing Your Voices<i class="fa-solid fa-circle-down"></i></p>

            <% if(!displayName) { %>  
          <button class="btn-login"><a class="nav-link <%= (page == 'login') ? 'active' : ''; %>" aria-current="page" href="/login"><i class="fa-solid fa-right-to-bracket"></i> Login</a</button>
            <% } %>  
          <button class="btn-survey"><a class="nav-link <%= (page == 'survey-list') ? 'active' : ''; %>" aria-current="page" href="/survey-list"><i class="fa-solid fa-table-list fa-lg"></i> Survey List</a</button>
      
        </div>
        <div class="right">
            <img src="../content/images/takesurvey.png" alt="survey logo" class="survey-image" >
        </div>
    </div>
</section>


