<div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6 col-sm-12">
            <div class="login" id="contentArea">
                <h1 class="display-4">Login</h1>
  
                <!-- Message Area -->
                <% if(messages.length > 0) { %>
                  <div id="messageArea" class="alert alert-danger">
                  <%= messages %>
                </div>
                <% } %>
  
                <form method="POST" id="loginForm" novalidate>
                  <div class="form-group mb-2">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-user">
                        </i>
                      </span>
                      <input type="text" class="form-control" id="username" name="username"  required
                      value="" placeholder="Enter your username">
                    </div>
                  
                  </div>
  
                  <div class="form-group mb-2">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="fa fa-lock">
                        </i>
                      </span>
                      <input type="password" class="form-control" id="password" name="password"  required
                      value="" placeholder="Enter your password">
                    </div>
                  
                  </div>                                        
                  <div class="text-end">
                    <button id="loginButton" type="submit" class="btn btn-primary btn-lg">
                      <i class="fas fa-sign-in-alt"></i> Login</button>
                      <button id="cancelButton" type="reset" class="btn btn-warning btn-lg">
                        <i class="fas fa-undo"></i> Cancel</button>
                  </div>
                </form>
              
            </div>
            <p class="text-center text-muted small">
              Don't have an account? 
              <a class="link" href="/register">Register Here!</a>
            </p>
      </div>
    </div>
  </div>