<!-- Web App Name: Take The Survey
File Name: statistics.ejs;
Group Name: Team A+;
Date: December 14, 2022
Student Name      Student ID
Alex Tang         301238850
Eva Fan           301238820
Darshmeen Dhillon 300689994
Faiyaz Muhammad   301227442
Sheila Donnelly   822281549
Wilson Wu         301243494 -->


<div class="container">
    <h1>Statistics List</h1>
    <% if(displayName) { %>
    <a href='/statistics-add/:id' class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i> View Survey Statistics</a>
        <% } %>
    <div class="row">
        <div class="col">
    
            <table class="table table-striped table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col" class="text-center">#</th>
                        <th scope="col">Question Description</th>
                        <th scope="col">User Responses</th>

                        <% if(displayName) { %>
                        <th></th>
                        <th></th>
                        <% } %>
                    </tr>
                </thead>
                <tbody id="questionList">
                    <!-- Repeatable Rows -->
                    <% for(let count = 0; count < questions.length; count++) { %>
                        <tr>
                            <th scope="row" class="text-center"><%= count + 1 %></th>
                            <td><%= questions[count].questionDescription %></td>
                            
                            
                            <!--
                            
                            ****SUM ALL RESPONSES HERE *****************
                            
                            td><%= responses[count].questionResponses %></td-->
                          
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>
